body{
    font-family: sans-serif;
    background-color: teal;
}

.container{
    width: 350px;
    margin-left: 35%;
    background-color: aliceblue;
    margin-top: 15px;
    padding: 10px;

}

h1{
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin-bottom: 10px;
}

.btn{
    text-align: center;
    padding: 10px
}

button{
    width: 142px;
    height: 40px;
    background-color: hsl(0, 1%, 28%);
    color: #f5f5dc;
    border: none;
    border-radius: 2px;
    outline: none;
}
